.mat-item {
    width: 100%;
}

textarea {
    min-height: 100px;
    resize: none;
}

.image {
    margin-bottom: 20px;
    margin-left: 10px;
}

img {
    height: 100px;
    width: auto;
}

label {
    margin-left: 10px;
}