.crop-image {
  display: block;
  height: 300px;
  width: 100%;

  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    object-position: center;
  }
}

mat-card {
  margin-top: 102px;
}
  
mat-card-actions, mat-card-content, mat-card-header {
    text-align: center;
}