<div class="footer-container">
    <h4><b>PULIMENTOS DE HONDURAS</b></h4>
    <p >
        <mat-icon>copyright</mat-icon>
        Copyright - Todos los derechos reservados.
    </p>
    <p><b>Redes</b></p>
    <a mat-flat-button href="https://www.facebook.com/PulimentosHN" target="_BLANK">
        <mat-icon class="facebook">facebook</mat-icon>
        Facebook
    </a>
    <a mat-flat-button href="https://api.whatsapp.com/send?phone=50499652464" target="_BLANK">
        <mat-icon class="whatsapp">phone</mat-icon>
        Whatsapp
    </a>
</div>

